.gameBox
    .flagBox
        img(src='../images/jp.png', alt='Avatar')
    .titleGameBox
        h3= "Juego 1"
    .settingsGameBox
        h3= "19x19"
    .playBox
        button(type='button') Jugar!
.gameBox
    .flagBox
        img(src='../images/jp.png', alt='Avatar')
    .titleGameBox
        h3= "Juego 1"
    .settingsGameBox
        h3= "19x19"
    .playBox
        button(type='button') Jugar!
.gameBox
    .flagBox
        img(src='../images/kr.png', alt='Avatar')
    .titleGameBox
        h3= "Juego 1"
    .settingsGameBox
        h3= "19x19"
    .playBox
        button(type='button') Jugar!
.gameBox
    .flagBox
        img(src='../images/jp.png', alt='Avatar')
    .titleGameBox
        h3= "Juego 1"
    .settingsGameBox
        h3= "19x19"
    .playBox
        button(type='button') Jugar!
.gameBox
    .flagBox
        img(src='../images/kr.png', alt='Avatar')
    .titleGameBox
        h3= "Juego 1"
    .settingsGameBox
        h3= "19x19"
    .playBox
        button(type='button') Jugar!