#panelBox
    #loginBetaBox
        #login
            if user
                h1= "Bienvenido "+user
            form#loginForm(action='/login', method='post')
                h3= "Usuario"
                input#userField(type="text", name="user")
                br
                h3= "Password"
                input#passField(type="password", name="pass")
                br
                button#loginButton(type='submit')
                    | Login
    #imageLoginBox
        img(src='../images/img_index.jpg', alt='Baduk')

#beta
    h1= "Apúntate a la beta"
    form#betaForm(action='/beta', method='post')
        h3= "Email"
        input#mailField(type="text", name="mail")
        button#betaButton(type='button')
            | Enviar
    br
    if mailOk
        h3(style='color: #173B0B;') El mail #{mailOk} ha sido registrado. Gracias por tu interes!

script(type='text/javascript')
    $(document).ready(function() {
        $('#panelBox').fadeIn("slow")
        $('#beta').fadeIn("slow")
    });
    
    $('#loginButton').click(function(e) {
        if($('#userField').val()==''){
            $('#userField').css({border: '1px solid red'});
            e.preventDefault();
        }
        if($('#passField').val()==''){
            $('#passField').css({border: '1px solid red'});
            e.preventDefault();
        }
    });
    
    $('#userField').focusout(function(e){
        if($(this).val()!=''){
            $(this).css({border: '1px solid #38610B'})
        }
    });
    
    $('#passField').focusout(function(e){
        if($(this).val()!=''){
            $(this).css({border: '1px solid #38610B'})
        }
    });
    
    $('#betaButton').click(function(e) {
        if($('#mailField').val()==''){
            $('#mailField').css({border: '1px solid red'});
            e.preventDefault();
        }
        else{
            $("#betaForm").submit();
            e.preventDefault();
        }
    });